[flake8]
max-line-length=110
max-arguments = 6

ignore = W503,
        WPS305,
        WPS115,
        WPS306,  # Wrong multiline string use violation

per-file-ignores =
        test_*.py: D100, D101, D102, D103, S101, DAR101, WPS214, WPS217, WPS432,  WPS437

exclude =
    .git,
    __pycache__,
    .devcontainer,
