[flake8]
max-line-length=110
max-arguments = 6

ignore =
    # line break before binary operator
    W503,
    # Found upper-case constant in a class
    WPS115,
    # Forbid f strings
    WPS305,
    # Wrong multiline string usage
    WPS462,

extend-ignore =
    # Google Python style is not RST until after processed by Napoleon
    # See https://github.com/peterjc/flake8-rst-docstrings/issues/17

    # Block quote ends without a blank line; unexpected unindent
    RST201,
    # Definition list ends without a blank line; unexpected unindent
    RST203,
    # Unexpected indentation
    RST301,

per-file-ignores =
    # Disable some checks for tests
    test_*.py: D100, D101, D102, D103, S101, DAR101, WPS214, WPS217, WPS432,  WPS437
    # Disable multiline string checks for model docstrings
    asyncord/client/models/*.py: WPS322, WPS428, WPS462
    # allow many module members for some modele modules
    # also disable general models checks
    asyncord/client/models/channels.py: WPS202, WPS322, WPS428, WPS462

exclude =
    __pycache__,
    .devcontainer,
    .git,
    .github,
    .venv,
    .vscode,
